* {
    font-family: "Lato", sans-serif;
}

.mainContainer {
    @media (max-width: 900px) {
        margin-left: 15%;
        margin-top: 15%;
    }
}

.imageContainer {
    @media (max-width: 900px) {
        display: none;
    }
}

.image {
    height: 100vh;
}

.head {
    position: absolute;
    color: #ffffff;
    z-index: 2;
    top: 160px;
    left: 100px;
    font-weight: bold;
}

.headImg {
    position: absolute;
    z-index: 2;
    top: 5rem;
    left: 5rem;
    width: 15rem;
}

.logo {
    width: 12rem !important;
    // margin-bottom: 30px;
}

.title {
    background: -webkit-linear-gradient(90deg, #069CCE, #03607E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 1.7rem;
    padding-bottom: 5px;
    font-weight: bold;
}

.input {

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #f3f2f2 inset !important;
    }

}

.note {
    font-weight: 600 !important;
}

.link {
    text-decoration: none;
    background: -webkit-linear-gradient(90deg, #069CCE, #03607E);
    -webkit-background-clip: text;
    /* This is for Safari */
    -webkit-text-fill-color: transparent;
    /* This is for Safari */
    background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 16px;
    font-weight: bold !important;
    margin-left: 4px !important;
}

.submit {
    background: linear-gradient(to bottom, #069CCE 0%, #03607E 100%);
    border-radius: 25px !important;
    font-size: 18px !important;
    font-weight: 400 !important;

    &:hover {
        background: linear-gradient(to bottom, #023a4d 0%, #014358 100%);
    }
}

.otp {
    display: flex;
    justify-content: center;
    align-items: center;

    .otpSeparator {
        margin: 0 10px;
        font-size: 24px;
        color: #666;
    }

    .otpInput {
        width: 50px !important;
        height: 50px;
        font-size: 24px;
        text-align: center;
        border: 1px solid #03607E !important;
        border-radius: 5px !important;
        margin: 0 5px;
    }
}