.appbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;

  .appbar_left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .menu {
      margin-left: 0.9rem;
      img {
        width: 2rem;
      }
    }
  }

  .appbar_right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .profile {
      background-color: #e2e2e2;
      margin: 0 0 0 1.5rem;
      border-radius: 30px;
      padding: 1 !important;
      box-shadow: none !important;
    }

    .profile img {
      width: 2rem;
    }

    .btnText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0rem 0.7rem;

      .btnTextName {
        color: #000;
        font-size: 14px;
        margin-bottom: 0;
      }

      .btnTextRole {
        color: #0672bc;
        font-size: 11px;
        margin-top: 0;
      }
    }

    .arrow {
      color: #0672bc;
    }
  }

  @media (max-width: 600px) {
    .appbar_left {
      .menu {
        margin-left: 1rem;
      }
    }

    .appbar_right {
      .profile {
        padding: 0 !important;
      }
    }
  }
}

// Sidebar & Menu Specific Styles
.menus {
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  padding: 0px 0 !important;
  margin: 15px 0px !important;
  font-size: 18px !important;
  font-weight: bold !important;
  color: #000;
}

.active {
  background: linear-gradient(to bottom, #30afdc 0%, #0672bc 100%);
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  padding: 0px 0 !important;
  margin: 15px 0px;
  font-size: 18px !important;
  font-weight: bold !important;
  color: #fff;
}

.icons {
  width: 1.4rem;
  margin-left: 10px;
}

.menuIcon {
  color: #000;
  margin-left: 15px;
}

.activeIcon {
  color: #fff;
  margin-left: 15px;
}
