// *{
//     background-color: red;
// }
.flex{
    display: flex;
    // background-color: #00ff00;
    background-color: #ececec;
    min-height: 100vh;
}
.main{
    margin-top: 5rem;
    margin-left: 2rem;
    // margin-left: -3rem;
    // background-color: #ECECEC;
    // padding: 3;
    flex-grow: 1;
    width: 60vw !important;
}